NODE_ENV="consectetur"
USER_ID="aecat sit consectetur et dolore qt occaecat aute."
DS_API_ACCOUNT_ID="ui eiusmod non enim culpa sun"
INTEGRATION_KEY="23eeiusmod non enim ce6940ddfb"
DS_OAUTH_SERVER="https://account-d.docusign.com"
SESSION_SECRET="Sit dolore ut nostrud consectetur incididunt ullamco."
TARGET_ACCOUNT_ID="mod non" 
REDIRECT_URI_HOME=https://httpbin.org/get
REDIRECT_URI=http://localhost:3000
PORT_NUMBER=8000
DS_BRAND_ID="Aliquip nostrud dolore velit minim et id nostrud minim vol"
DS_SENTINELS_TEMPLATE="Voluptate ad duis eiusmod mollit proident enim qui reprehenderit culpa laborum sint."
BACKEND_URL=jkbflsagiugfaiwug
MV_USERNAME=creedcode2022@gmail.com
MV_PASSWORD="l9owwq12"
MV_CLIENT_ID="7f495-we3242f-21dc-tryh1-4bfg7375e9f"
MV_CLIENT_SECRET="8ewwcawr123468.nszeZWoeYw="
MV_SUBSCRIPTION_KEY=0ertgferw3ds6e2cfca073dd
ARCGIS_CLIENT_ID=jyqdsfgt21qwewdsmdReYd
ARCGIS_CLIENT_SECRET=f89dce96a04c4d132
ARCGIS_API_KEY= "jkwgsajliut-S_aSI"
