# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
*.pem


# local env files
.env*
.local

server/.env
client/.env
!.env.example

# Supabase
**/supabase/.branches
**/supabase/.temp
.DS_Store

## CLIENT

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*

